In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
df = pd.read_csv('Resource/Diabetes_Prediction_2018_2022.csv')
df

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoke,Stroke,HeartDiseaseorAttack,PhysicalActivity,Fruits,...,AlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education
0,0,0,1,0,40,1,0,0,0,0,...,0,1,0,5,18,15,1,0,9,4
1,0,0,0,0,25,1,0,0,1,0,...,0,0,1,3,0,0,0,0,7,6
2,0,1,1,1,28,0,0,0,0,1,...,0,1,1,5,30,30,1,0,9,4
3,0,1,0,1,27,0,0,0,1,1,...,0,1,0,2,0,0,0,0,11,3
4,0,1,1,1,24,0,0,0,1,1,...,0,1,0,2,3,0,0,0,11,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249993,0,0,1,1,25,0,0,0,1,1,...,0,1,0,3,0,0,0,0,9,4
249994,1,1,1,1,28,1,0,0,1,1,...,0,1,1,5,14,14,1,0,8,4
249995,2,1,0,1,22,0,0,0,1,1,...,0,1,0,3,0,0,0,0,8,3
249996,2,1,0,1,36,1,0,0,0,1,...,0,1,0,2,0,0,0,1,4,4
249997,0,1,1,1,33,1,0,0,1,1,...,0,1,1,2,3,0,0,1,6,3

In [3]:
# Generate our categorical variable lists
cat = df.dtypes[df.dtypes == "int"].index.tolist()
df[cat].nunique()

Series([], dtype: float64)